.title {
    color: rgb(99, 48, 48);
}

.text {
    color: rgb(136, 71, 71);
}

.box {
    margin: 1em;
    border-style: solid;
    border-radius: 10px;
    border-color: rgba(121, 54, 54, 0.1);
    padding: 1em;
}
