
.navContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;

    list-style: none;

    background-color: rgb(194, 156, 156);

    margin: auto;
    padding: 10px 0;
}

.navLink a{
    text-decoration: none;
    color: rgb(247, 243, 243);
    font-weight: bold;
}


.navLink .active {
    color: rgb(65, 28, 28);
}


